<footer
  class="text-center text-lg-start text-muted mt-5 border-top"
  id="contactos"
>
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <div class="me-5 d-none d-lg-block">
      <span>Visitanos y contactate con nuestros servicios:</span>
    </div>
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f text-primary"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-youtube text-danger"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram text-success"></i>
      </a>
    </div>
  </section>
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3 text-warning"></i> CHIRIROCKTOOLS.SRL
          </h6>
          <p>
            Nuestra empresa te brinda los mejores aceros y equipos de alta
            eficiencia para minería y construcción.
          </p>
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Visita nuestras redes socials
          </h6>
          <p>
            <a href="#!" class="text-reset"
              ><i class="fab fa-facebook-f text-primary"></i> Facebook
            </a>
          </p>
          <p>
            <a href="#!" class="text-reset"
              ><i class="fab fa-instagram text-success"></i> Instagram
            </a>
          </p>
          <p>
            <a href="#!" class="text-reset"
              ><i class="fab fa-youtube text-danger"></i> YouTube
            </a>
          </p>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Contactos</h6>
          <p>
            <i class="fas fa-map-marker-alt me-3 text-warning"></i> C/Rio Othon
            N°6024 Z/Nuevos Horizontes. El Alto, La Paz - Bolivia
          </p>
          <p>
            <i class="fas fa-envelope me-3 text-white"></i>
            info@chirirocktools.com
          </p>
          <p>
            <i class="fab fa-whatsapp text-success"></i> (+591) 75815895 -
            73513128
          </p>
          <p><i class="fas fa-phone me-3 text-success"></i> 2851793</p>
        </div>
      </div>
    </div>
  </section>

  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05)">
    © 2023 Copyright:
    <a class="text-reset fw-bold" href="#">CHIRIROCKTOOLS.SRL</a>
  </div>
</footer>
