{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ChirirockTools</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css"
    />
    <link rel="stylesheet" href=" {% static '/css/index.css' %} " />
    <link rel="stylesheet" href="{% static '/css/carousel.css' %} " />
    <link rel="stylesheet" href="{% static '/css/navbar.css' %} " />
  </head>
  <body>
    {% include "./components/nav.html" %}
    <div class="contaier-fluid">{% block content %}{% endblock %}</div>
    {% include './components/footer.html' %}
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="{% static '/js/main.js' %}"></script>
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://unpkg.com/typeit@8.7.1/dist/index.umd.js"></script>
    <script>
      document
        .querySelector(".menu-icons")
        .addEventListener("click", function () {
          document.getElementById("nav").classList.toggle("active");
        });
    </script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
