{% extends 'base.html' %} {% block content %} {% load static %}
<header>
  <div class="container-carousel">
    <div class="slider slider-for">
      <div>
        <div class="row">
          <div class="col-lg-6 col-md-6 content-carousel">
            <div class="content">
              <h2 class="text-white carousel-title">CHIRI ROCK TOOLS.SRL</h2>
              <h3 class="active subtitle">EMPRESA S.R.L</h3>
              <hr style="background-color: #15bcd5" />
              <div class="details">
                <ul>
                  <li>
                    <i class="fas fa-play"></i> EQUIPOS PARA CONSTRUCCIÓN Y
                    MINERÍA
                  </li>
                  <li><i class="fas fa-play"></i> ACEROS DE PERFORACIÓN</li>
                  <li><i class="fas fa-play"></i> EQUIPOS DE TRITURACIÓN</li>
                  <li><i class="fas fa-play"></i> EQUIPOS DE PERFORACIÓN</li>
                  <li class="mt-3">
                    <a href="#" class="link-prd">Productos</a> &nbsp;
                    <a href="#" class="link-mas">Ver mas</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 content-carousel">
            <div class="content">
              <img
                src="{% static '/img/ejem.png' %}"
                alt=""
                class="content-for"
              />
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="row">
          <div class="col-lg-6 col-md-6 content-carousel">
            <div class="content">
              <h2 class="text-white carousel-title">CHIRI ROCK TOOLS.SRL</h2>
              <h3 class="active subtitle">EMPRESA S.R.L</h3>
              <hr style="background-color: #15bcd5" />
              <div class="details">
                <ul>
                  <li>
                    <i class="fas fa-play"></i> EQUIPOS PARA CONSTRUCCIÓN Y
                    MINERÍA
                  </li>
                  <li><i class="fas fa-play"></i> ACEROS DE PERFORACIÓN</li>
                  <li><i class="fas fa-play"></i> EQUIPOS DE TRITURACIÓN</li>
                  <li><i class="fas fa-play"></i> EQUIPOS DE PERFORACIÓN</li>
                  <li class="mt-3">
                    <a href="#" class="link-prd">Productos</a> &nbsp;
                    <a href="#" class="link-mas">Ver mas</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 content-carousel">
            <div class="content">
              <img
                src="{% static '/img/ejem1.png' %}"
                alt=""
                class="content-for"
              />
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="row">
          <div class="col-lg-6 col-md-6 content-carousel">
            <div class="content">
              <h2 class="text-white carousel-title">CHIRI ROCK TOOLS.SRL</h2>
              <h3 class="active subtitle">EMPRESA S.R.L</h3>
              <hr style="background-color: #15bcd5" />
              <div class="details">
                <ul>
                  <li>
                    <i class="fas fa-play"></i> EQUIPOS PARA CONSTRUCCIÓN Y
                    MINERÍA
                  </li>
                  <li><i class="fas fa-play"></i> ACEROS DE PERFORACIÓN</li>
                  <li><i class="fas fa-play"></i> EQUIPOS DE TRITURACIÓN</li>
                  <li><i class="fas fa-play"></i> EQUIPOS DE PERFORACIÓN</li>
                  <li class="mt-3">
                    <a href="#" class="link-prd">Productos</a> &nbsp;
                    <a href="#" class="link-mas">Ver mas</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 content-carousel">
            <div class="content">
              <img
                src="{% static '/img/ejem2.png' %}"
                alt=""
                class="content-for"
              />
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="row">
          <div class="col-lg-6 col-md-6 content-carousel">
            <div class="content">
              <h2 class="text-white carousel-title">CHIRI ROCK TOOLS.SRL</h2>
              <h3 class="active subtitle">EMPRESA S.R.L</h3>
              <hr style="background-color: #15bcd5" />
              <div class="details">
                <ul>
                  <li>
                    <i class="fas fa-play"></i> EQUIPOS PARA CONSTRUCCIÓN Y
                    MINERÍA
                  </li>
                  <li><i class="fas fa-play"></i> ACEROS DE PERFORACIÓN</li>
                  <li><i class="fas fa-play"></i> EQUIPOS DE TRITURACIÓN</li>
                  <li><i class="fas fa-play"></i> EQUIPOS DE PERFORACIÓN</li>
                  <li class="mt-3">
                    <a href="#" class="link-prd">Productos</a> &nbsp;
                    <a href="#" class="link-mas">Ver mas</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 content-carousel">
            <div class="content">
              <img
                src="{% static '/img/ejem3.png' %}"
                alt=""
                class="content-for"
              />
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="row">
          <div class="col-lg-6 col-md-6 content-carousel">
            <div class="content">
              <h2 class="text-white carousel-title">CHIRI ROCK TOOLS.SRL</h2>
              <h3 class="active subtitle">EMPRESA S.R.L</h3>
              <hr style="background-color: #15bcd5" />
              <div class="details">
                <ul>
                  <li>
                    <i class="fas fa-play"></i> EQUIPOS PARA CONSTRUCCIÓN Y
                    MINERÍA
                  </li>
                  <li><i class="fas fa-play"></i> ACEROS DE PERFORACIÓN</li>
                  <li><i class="fas fa-play"></i> EQUIPOS DE TRITURACIÓN</li>
                  <li><i class="fas fa-play"></i> EQUIPOS DE PERFORACIÓN</li>
                  <li class="mt-3">
                    <a href="#" class="link-prd">Productos</a> &nbsp;
                    <a href="#" class="link-mas">Ver mas</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 content-carousel">
            <div class="content">
              <img
                src="{% static '/img/ejem4.png' %}"
                alt=""
                class="content-for"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slider slider-nav">
      <div>
        <img src="{% static '/img/ejem.png' %}" alt="" class="model-nav" />
      </div>
      <div>
        <img src="{% static '/img/ejem1.png' %} " alt="" class="model-nav" />
      </div>
      <div>
        <img src="{% static '/img/ejem2.png' %} " alt="" class="model-nav" />
      </div>
      <div>
        <img src="{% static '/img/ejem3.png' %} " alt="" class="model-nav" />
      </div>
      <div>
        <img src="{% static '/img/ejem4.png' %} " alt="" class="model-nav" />
      </div>
    </div>
  </div>
</header>

<main>
  <div class="container mt-5">
    <h1 class="p-2 text-center text-white">CHIRI ROCK TOOLS.SRL</h1>
    <div class="row content-service mt-4">
      <div
        class="col-lg-4"
        data-aos="fade-up"
        data-aos-anchor-placement="top-center"
        data-aos-duration="500"
      >
        <div class="content">
          <p class="text-center">
            <i class="fas fa-wrench fa-5x text-warning"></i>
          </p>
          <p>
            <i class="fas fa-play"></i> &nbsp; Reparación y mantenimiento de
            maquinaria pesada y equipos hidráulicos en general.
          </p>
          <p>
            <i class="fas fa-play"></i> &nbsp; Nuestros técnicos experimentados
            pueden auxiliarlo, desde el mantenimiento preventivo hasta
            reparaciones de averías o reformas programadas.
          </p>
        </div>
      </div>
      <div
        class="col-lg-4"
        data-aos="fade-up"
        data-aos-anchor-placement="top-center"
        data-aos-duration="1200"
      >
        <div class="content">
          <p class="text-center">
            <i class="fas fa-toolbox fa-5x text-success"></i>
          </p>
          <p>
            <i class="fas fa-play"></i> &nbsp; Conscientes de la importancia que
            representa la disponibilidad de sus equipos, ponemos a su
            disposición todas las diferentes piezas y componentes originales de
            nuestro stock, garantizando la rapidez de puesta en servicio de su
            equipo averiado sin perder su rendimiento ni fiabilidad de origen.
          </p>
        </div>
      </div>
      <div
        class="col-lg-4"
        data-aos="fade-up"
        data-aos-anchor-placement="top-center"
        data-aos-duration="1700"
      >
        <div class="content">
          <p class="text-center">
            <i class="fas fa-tools fa-5x text-primary"></i>
          </p>
          <p>
            <i class="fas fa-play"></i> &nbsp; La empresa Chiri Rock Tools.SRL
            ofrece a sus clientes un servicio técnico multimarca de reparación
            de equipos hidráulicos para minería y construcción.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="serv">
    <div class="row mt-5">
      <div
        class="col-lg-4 d-flex justify-content-center p-5"
        data-aos="fade-up"
        data-aos-anchor-placement="top-center"
        data-aos-duration="500"
      >
        <img
          src="{% static '/img/men.png' %}"
          alt="image not found"
          width="200"
          height="200"
        />
      </div>
      <div
        class="col-lg-8 servicios d-flex justify-content-center align-items-center"
        data-aos="fade-up"
        data-aos-anchor-placement="top-center"
        data-aos-duration="1000"
      >
        <div class="p-5">
          <h2 class="text-primary text-center">
            <i class="fas fa-thumbtack"></i> &nbsp; SERVICIOS
          </h2>
          En Chiri Rock Tools.SRL le brindamos nuestros Servicios a la medida de
          sus necesidades, nuestros profesionales están perfectamente
          capacitados y certificados por fábrica garantizando así la calidad de
          nuestro servicio.
        </div>
      </div>
    </div>
  </div>
  <div
    class="mt-5 container"
    data-aos="fade-up"
    data-aos-anchor-placement="top-center"
    data-aos-duration="500"
  >
    <div class="row nosotros">
      <div class="col-lg-4 d-flex justify-content-center p-5">
        <img src="{% static '/img/nosotros.png' %}" alt="image not found" />
      </div>
      <div
        class="col-lg-8 d-flex justify-content-center align-items-center servicios"
      >
        <div class="p-5">
          <h2 class="text-primary text-center">
            <i class="fas fa-thumbtack"></i> &nbsp; NOSOTROS
          </h2>
          Somos una empresa que vende aceros y provee equipos de alta eficiencia
          para minería y construcción. <br />
          Además brindamos servicios de alta calidad y tecnología a las empresas
          nacionales que desarrollan sus actividades en el sector minero y de
          construcción, movimiento de tierras y tunelería, haciendo que con
          nuestras maquinarias de última tecnología, obtengan mayor eficiencia y
          resultados en sus operaciones, optimizando sus tiempos; proporcionamos
          también el mantenimiento y reparación de equipos de perforación y
          minería en general.
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}
