{% extends 'base.html' %} {% block content %}
<div class="container mt-5 p-5 ejem text-white">
  <h1>task pending</h1>
  <ul>
    {% for elem in tasks %}
    <li>
      <a href="{% url 'task_detail' elem.id %}">
        {% if elem.important %}
        <strong>{{elem.title}}</strong>
        {% else %} {{elem.title}} {% endif %}
        <p>{{elem.description}}</p>
        <p>{{elem.user.username}}</p>
        <p>{{elem.datecompleted|date:'M d Y:i'}}</p>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
